/*css reset*/

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
    margin: 0;
    padding: 0;
}

body,
button,
input,
select,
textarea {
    font: 12px/1.5tahoma, arial, \5b8b\4f53;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

address,
cite,
dfn,
em,
var {
    font-style: normal;
}

code,
kbd,
pre,
samp {
    font-family: couriernew, courier, monospace;
}

small {
    font-size: 12px;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: underline;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

legend {
    color: #000;
}

fieldset,
img {
    border: 0;
    width: 100%;
}

button,
input,
select,
textarea {
    font-size: 100%;
    border: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    -webkit-user-select: none;
    -webkit-overflow-scrolling: touch;
}

a,
button,
input,
textarea,
div {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

input:focus {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-modify: read-write-plaintext-only;
}

input {
    -webkit-appearance: none;
}

.hide {
    display: none;
}

.show {
    display: block;
}


/*首页*/

.index {
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
}

.index_img {
    width: 100%;
    height: 100%;
}

.index_btn {
    position: absolute;
    bottom: .3rem;
    left: .76rem;
    font-size: .16rem;
    color: #fff;
    width: 2.2rem;
    height: .36rem;
    line-height: .34rem;
    background: url('../img/button.png');
    background-size: 100% 100%;
}


/*搜索页面*/

.x-search {
    position: absolute;
    top: 0px;
    font-size: .15rem;
    width: 100%;
    height: .4rem;
    color: #fff;
    z-index: 99;
    background: linear-gradient(to right, #ca8aff, #ff9e9e);
}

.x-search >span {
    display: inline-block;
    margin: .1rem .12rem;
}

.x-search >span:last-child {
    float: right;
}

#search {
    position: absolute;
    top: .05rem;
    width: 2.6rem;
    height: .3rem;
    text-align: center;
    border-radius: 26px;
    color: #a3a3a3;
}

.songs {
    position: relative;
    width: 100%;
    top: .4rem;
    font-size: .14rem;
}

.des {
    margin: .18rem;
    text-indent: .1rem;
    border-left: 5px solid #cb8afe;
}

.songs_list {
    width: 100%;
    margin-bottom: .5rem;
    border-top: 1px solid #e5e5e5;
}

.songs_list>li {
    position: relative;
    padding: .1rem .16rem;
    border-bottom: 1px solid #e5e5e5;
}

.songs_list .user_name {
    color: #8d8d8d;
    margin-top: .08rem;
    margin-left: .1rem;
}

.songs_list .select {
    position: absolute;
    right: .16rem;
    top: .2rem;
    width: .5rem;
    height: .24rem;
    background: url('../img/select.png');
    background-size: 100% 100%;
}

.songs_list>li.active,
.songs_list .active>.user_name {
    color: #fa9ca8;
}

.active .select {
    right: .1rem;
    width: .64rem;
    height: .38rem;
    background: url('../img/selected.png');
    background-size: 100% 100%;
}

.noHave {
    text-align: center;
    margin: 20px 0;
    display: none;
}


/*提交*/

.submit {
    font-size: .14rem;
}

.song_sele {
    margin-left: .18rem;
}

.song_sele .user_name {
    margin-left: .1rem;
}

.pic_info {
    margin: .18rem 0;
    border-top: 1px solid #e5e5e5;
}

.pics {
    margin: .1rem;
}

.pic {
    position: relative;
    float: left;
    width: .8rem;
    height: .8rem;
    margin: .03rem;
}

.pic>img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid #cfcfcf;
}

.delete {
    display: inline-block;
    position: absolute;
    right: -.1rem;
    top: -.1rem;
    width: .2rem;
    height: .2rem;
    border-radius: 50%;
    background: url('../img/detele.png');
    background-size: 100% 100%;
    display: none;
    z-index: 9;
}

.pics .active .delete {
    display: block;
}

.fileupload {
    width: .6rem;
    height: .6rem;
    position: relative;
    display: inline-table;
    color: #cfcfcf;
    font-size: .12rem;
    text-align: center;
    left: .04rem;
}

.fileupload input[type=file] {
    position: relative;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: .03rem;
}

.upload {
    display: inline-block;
    position: relative;
    width: .8rem;
    height: .8rem;
    margin: .04rem 0;
    background: #e0e0e0;
    border-radius: 5px;
}

.upload:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: .21rem;
    left: .39rem;
    width: .03rem;
    height: .38rem;
    background: #fff;
}

.upload:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: .39rem;
    left: .21rem;
    width: .38rem;
    height: .03rem;
    background: #fff;
}

.mask {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    background: rgba(0, 0, 0, .4);
    z-index: 98;
}

.stick {
    position: fixed;
    color: #000;
    width: 2.65rem;
    height: 2.65rem;
    left: .6rem;
    top: 1.5rem;
    text-align: center;
    border-radius: 5px;
    background: #fff;
    z-index: 99;
    line-height: 3.5rem;
}

.stick:before {
    content: '';
    display: inline-block;
    position: absolute;
    width: .82rem;
    height: .82rem;
    top: .6rem;
    left: .91rem;
    background: url('../img/right.png');
    background-size: 100% 100%;
}

.alert_info {
    position: fixed;
    width: 2.6rem;
    height: 1.9rem;
    background: #fff;
    z-index: 99;
    text-align: center;
    border-radius: .1rem;
    font-size: .18rem;
    top: 2rem;
    left: .55rem;
    display: none;
}

.alert_info>p {
    margin-top: .65rem;
}

.alert_info .qd {
    color: #fff;
    padding: .08rem .4rem;
    background-image: linear-gradient(-270deg, #ca8afe 0%, #ff9e9f 100%);
    display: inline-block;
    margin-top: .4rem;
    border-radius: .2rem;
}

.loading {
    position: fixed;
    width: .3rem;
    height: .3rem;
    top: 50%;
    left: 50%;
    margin-left: -.15rem;
    margin-top: -.15rem;
    z-index: 12;
    background: url('../img/loading.gif');
    background-size: 100% 100%;
    display: none;
}
